*{
    margin: 0;
    box-sizing: border-box;
}

/*Side 1, header*/

header{
width: 100%;
background-color: #FAF8F5;
display: flex;
justify-content: space-between;  /*Bruger flexbox og justify-content til at rykke burgermenuen til højre*/
}

header img{
    height: auto;
    width: 160px;
    margin-top: 0.7em;
    margin-left: 0.5em;
    cursor: pointer;
}

header img:hover{
    width: 165px;
}

nav ul{

    list-style-type: none;     
    gap: 1em;                
    padding: 0;
}

nav li{
    padding: 0.8em;  
}

ul li a{
    color: #000000;
    text-decoration: none;  
    font-size: 1rem;
    font-family: "Nunito Sans", sans-serif;
}

ul li a:hover{
    color: #B44E25;
}

#bars{  
        background-color: transparent;
        border:none;
        color: #C25D2E;
        font-size: 1.2rem; 
        margin-right: 0.3em;
        cursor: pointer;
    }

    #bars:hover{
        font-size: 1.4rem;
    }

header nav{
    display: none;
}

.show{ 
        display: block;
        position: absolute;
        top: 49px;
        left: 0px;
        background-color: #D1DEC0;
        width: 100%;
    }

/*Side 1, startside, første sektoin*/

.section-1{
    background-color: #D1DEC0;
    padding: 1.5em 1em;
}

.section-1 h1{
    margin-bottom: 0.8em;
    background-color: #D1DEC0;
    margin-left: 0.4em;
    margin-right: 0.4em;
    font-family: "Source Serif 4", serif;
    font-weight: 900;
    font-size: 1.6rem;
    
}

.section-1 p{
    background-color: #D1DEC0;
    margin-bottom: 2em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.6;

}

.section-1 a{
    background-color: #C25D2E;
    border-radius: 20px;
    border: 1px solid #A64214;
    padding: 0.5em 0.7em;
    text-decoration: none;
    color: black;
    max-width: 180px;
    margin-left: 0.4em;
    margin-right: 0.4em;
    font-family: "Source Serif 4", serif;
    font-weight: 700;
    cursor: pointer;
}

.section-1 a:hover{
    background-color:#B44E25;
    border: 2px solid #A64214;
}

.forside-ikon{
    display: grid;
    grid-template-columns:  65% 35%;
    margin-top: 0.5em;
    font-size: 1rem;
}

.section-1 img{
  grid-column: 2;             
  height:80px;
  max-width: 100%;
  margin-right: 0.5em;
}

/*Side 1, de tre faktabokse, anden sektoin*/

.section-2{
    background-color: #FAF8F5;
    text-align: center;
}

.grøn-boks{
    background-color: #D1DEC0;
    border-radius: 15px;
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-bottom: 0.5em;
    
}

.grøn-boks img { 
  width: 80%;
  height: auto;
  margin: 0.5em auto;
}

.kasse-1{
    padding-top: 2em;
}

.kasse-2{
    margin-top: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.kasse-3{
    margin-top: 1.5em;
    padding-bottom: 2em;
}

.section-2 p:first-of-type {
    font-family: "Source Serif 4", serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.4em;
}

.section-2 p:last-of-type{
    font-size: 1rem;
    font-family: "Nunito Sans", sans-serif;
}

/*Første side, sektion 3, de tre klikbarebokse*/

.section-3 {
  background-color: #D1DEC0;
  text-align: center;
  padding: 2em 1em;
}

.section-3 h2{
    font-family: "Source Serif 4", serif;
     font-size: 1.4rem;
     margin-bottom: 1.5em;
}

.section-3 a {
  display: block;
  background-color: #FAF8F5;
  border: 2px solid #C25D2E;
  border-radius: 12px;
  padding: 1.5em;
  margin: 1.5em auto;
  text-decoration: none;
  color: black;
  max-width: 320px;
  cursor: pointer;
}

.section-3 a:hover{
    border: 5px solid #B44E25;
}

.section-3 h3 {
  font-size: 1.2rem;
  margin-bottom: 0.7em;
  font-family: "Source Serif 4", serif;
}

.section-3 p {
  font-size: 1rem;
  margin-bottom: 1em;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
}

.section-3 img {
  width: 90px;
  height: auto;
  margin-top: 0.5em;
}

/*Første side, sektion 4, vores mission*/

.section-4{
    background-color:#FAF8F5;
    text-align: center;
    padding:2rem 1rem;
}

.section-4 h3{
  font-size: 1.6rem;
  margin-bottom: 1.2em;
  margin-top: 0.5em;
  font-family: "Source Serif 4", serif;
}

.section-4 div{
    background-color: #D1DEC0;
    border-radius: 22px;
    padding:1.5rem;
    max-width:800px;
    margin:0 auto;
}

.section-4 p{
  max-width: 500px;
  margin:1em auto;
  line-height:1.8;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  text-align: left;
  
}

.mission-knapper{
  display:flex;  
  justify-content: center;   
  gap:2em;
  flex-wrap: nowrap; 
}

.mission-knapper a{
  display: inline-block;
  background-color: #C25D2E;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  padding: 0.6em 1.8em;
  white-space: nowrap; 
  font-weight: 600;
  font-family: "Source Serif 4", serif;
  font-size: 1rem;
  cursor: pointer;
  
}

.mission-knapper a:hover{
    background-color: #B44E25;

}

/*Footer*/

footer{
    background-color: #D1DEC0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    margin-right: 2em;
    margin-left: 2em;
    cursor: pointer;
}

footer a:hover{
  color:#954723; /*Contrast Ratio 4.65:1*/
}

   
   
    