*{
    margin: 0;
    box-sizing: border-box;
}

/*Side 1, header*/

header{
width: 100%;
background-color: #FAF8F5;
display: flex;
justify-content: space-between;  /*Bruger flexbox og justify-content til at rykke burgermenuen til højre*/
}

header img{
    height: auto;
    width: 160px;
    margin-top: 0.7em;
    margin-left: 0.5em;
    cursor: pointer;
}

header img:hover{
    width: 165px;
}

nav ul{

    list-style-type: none;     
    gap: 1em;                
    padding: 0;
}

nav li{
    padding: 0.8em;  
}

ul li a{
    color: #000000;
    text-decoration: none;  
    font-size: 1rem;
    font-family: "Nunito Sans", sans-serif;
}

ul li a:hover{
    color: #B44E25;
}

#bars{  
        background-color: transparent;
        border:none;
        color: #C25D2E;
        font-size: 1.2rem; 
        margin-right: 0.3em;
        cursor: pointer;
    }

    #bars:hover{
        font-size: 1.4rem;
    }

header nav{
    display: none;
}

.show{ 
        display: block;
        position: absolute;
        top: 49px;
        left: 0px;
        background-color: #D1DEC0;
        width: 100%;
    }

/*Side 1, startside, første sektoin*/

.section-1{
    background-color: #D1DEC0;
    padding: 1.5em 1em;
}

.section-1 h1{
    margin-bottom: 0.8em;
    background-color: #D1DEC0;
    margin-left: 0.4em;
    margin-right: 0.4em;
    font-family: "Source Serif 4", serif;
    font-weight: 900;
    font-size: 1.6rem;
    margin-top: 0.7em;
    
}

.section-1 p{
    background-color: #D1DEC0;
    margin-bottom: 2em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.6;

}

.section-1 a{
    background-color: #C25D2E;
    border-radius: 20px;
    border: 1px solid #A64214;
    padding: 0.5em 0.7em;
    text-decoration: none;
    color: black;
    max-width: 180px;
    margin-left: 0.4em;
    margin-right: 0.4em;
    font-family: "Source Serif 4", serif;
    font-weight: 700;
    cursor: pointer;
}

.section-1 a:hover{
    background-color:#B44E25;
    border: 2px solid #A64214;
}

.forside-ikon{
    display: grid;
    grid-template-columns:  65% 35%;
    margin-top: 0.5em;
    font-size: 1rem;
}

.section-1 img{
  grid-column: 2;             
  height:80px;
  max-width: 100%;
  margin-right: 0.5em;
}

/*Side 1, de tre faktabokse, anden sektoin*/

.section-2{
    background-color: #FAF8F5;
    text-align: center;
}

.grøn-boks{
    background-color: #D1DEC0;
    border-radius: 15px;
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-bottom: 0.5em;
}

.grøn-boks img { 
  width: 80%;
  height: auto;
  margin: 0.5em auto;
}

.kasse-1{
    padding-top: 2em;
}

.kasse-2{
    padding-top: 2em;
}

.kasse-3{
   padding-top: 2em;
}

.section-2 p:first-of-type {
    font-family: "Source Serif 4", serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.4em;
}

.section-2 p:last-of-type{
    font-size: 1rem;
    font-family: "Nunito Sans", sans-serif;
     padding-bottom: 2em;
}

/*Første side, sektion 3, de tre klikbarebokse*/

.section-3 {
  background-color: #D1DEC0;
  text-align: center;
  padding: 2em 1em;
}

.section-3 h2{
    font-family: "Source Serif 4", serif;
     font-size: 1.4rem;
     margin-bottom: 1.5em;
}

.section-3 a {
  display: block;
  background-color: #FAF8F5;
  border: 2px solid #C25D2E;
  border-radius: 12px;
  padding: 1.5em;
  margin: 1.5em auto;
  text-decoration: none;
  color: black;
  max-width: 320px;
  cursor: pointer;
}

.section-3 a:hover{
    border: 4px solid #B44E25;
}

.section-3 h3 {
  font-size: 1.2rem;
  margin-bottom: 0.7em;
  font-family: "Source Serif 4", serif;
}

.section-3 p {
  font-size: 1rem;
  margin-bottom: 1em;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
}

.section-3 img {
  width: 90px;
  height: auto;
  margin-top: 0.5em;
}

/*Første side, sektion 4, vores mission*/

.section-4{
    background-color:#FAF8F5;
    text-align: center;
    padding:2rem 1rem;
}

.section-4 h3{
  font-size: 1.6rem;
  margin-bottom: 1.2em;
  margin-top: 0.5em;
  font-family: "Source Serif 4", serif;
}

.section-4 div{
    background-color: #D1DEC0;
    border-radius: 22px;
    padding:1.5rem;
    max-width:800px;
    margin:0 auto;
}

.section-4 p{
  max-width: 500px;
  margin:1em auto;
  line-height:1.8;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  text-align: left;
  
}

.mission-knapper{
  display:flex;  
  justify-content: center;   
  gap:2em;
  flex-wrap: nowrap; 
}

.mission-knapper a{
  display: inline-block;
  background-color: #C25D2E;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  padding: 0.6em 1.8em;
  white-space: nowrap; 
  font-weight: 600;
  font-family: "Source Serif 4", serif;
  font-size: 1rem;
  cursor: pointer;
  
}

.mission-knapper a:hover{
    background-color: #B44E25;
    padding: 0.7em 1.9em;

}

/*Footer*/

footer{
    background-color: #D1DEC0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    margin-right: 2em;
    margin-left: 2em;
    cursor: pointer;
}

footer a:hover{
  color:#954723; /*Contrast Ratio 4.65:1*/
}


/*Responsivt design til større end en telefon*/

@media screen and (min-width:768px){
    
    /*Navigationen*/
    
    #bars{
        display: none; 
    }

    header nav{
    display:block;
    margin-right: 1em;
}

    nav ul{
    display:flex;
    align-items: center;   
}

nav ul :hover{
    font-size: 1.03rem;
}

nav li {
        padding: 0;
        margin: 0;
    }

    nav a {
        display: inline-block;
        padding: 0.25em 0.9em; 
       
    }

.navigation-grøn{
    border-radius: 20px;
    background-color: #D1DEC0;
    
   justify-content: center;
    
}
header{
    padding: 0.6rem 0.8rem; 
    display: flex;
    align-items: center;
   
}

header img {
    width: 190px;
    height: auto;
  }

  header img:hover{
    width: 200px;
    
  }


/*Første side, startside, sektion 1*/

.section-1{
    display: grid;
    grid-template-columns: 70% 30%; 
    align-items: center;
    padding: 2.5em 3em;
}

.section-1 h1, .section-1 p, .section-1 a{
    grid-column: 1;  
}

.forside-ikon{
    grid-column: 2;
    grid-template-columns: 0;
}

.forside-ikon img{
    width: 300px;            
    height: auto;
  }

.section-1 p{
    max-width: 750px;
    font-size: 1.2rem;
    margin-bottom: 1em;
  }

.section-1 h1{
    max-width: 500px;
    font-size: 1.9rem;
    margin-top: 1.5em;
}

.section-1 a{
    justify-self: start;
    align-self: start;
    padding: 0.6em 1em;
    max-width: 250px;
  }


/*Første side, tre faktabokse, sektion 2*/

.section-2{
    display: flex;
}

.kasse-1, .kasse-2, .kasse-3{
    justify-content: center;
    margin: 1.5em auto;
    margin-bottom: 1.5em;
}

.grøn-boks{
    margin-bottom: 1.5em;
}
/*Første side, tre klikbare bokse, sektion 4*/

.klikbare-bokse{
    display: flex;
}

.section-3 a{
    justify-content: center;
}

/*Første side, "vores mission", sektion 4*/

.section-4 div{
    max-width: 1000px;
}

.section-4 p{
    max-width: 600px;
    text-align: center;
}

}
    